.cards {
  display: grid;
  place-items: center;
  padding: 15px;
  background-color: lightblue;
  border-radius: 12px;
  text-align: center;
  height: 500px;

  &__img {
    width: 280px;
  }

  &__title {
    font-size: 24px;
    color: white;
  }
}
